.card{
    border: 1px solid #7cabda66;
    border-radius: 3px;
    -webkit-box-shadow: 6px 6px 10px -8px rgba(0,0,0,0.44);
    -moz-box-shadow: 6px 6px 10px -8px rgba(0,0,0,0.44);
    box-shadow: 6px 6px 10px -8px rgba(0,0,0,0.44);
}