.service-details{
    .body{
        margin: 16px;
        .vehicle-name{
            height: 26px;
            width: 220px;
        }
        .form-control{
            width: 100%;
        }
    }
}