.options{
    position: relative;

    

    .items{
        background-color: #fff;
        position: absolute;
        right: 0;
        font-size: 12px;
        list-style: none;
        border: 1px solid #cccccc60;
        -webkit-box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.35);
        -moz-box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.35);
        box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.35);
        padding-inline-start: 0;
        margin-block-end: 0;
        z-index: 2;
        padding: 5px;

        .item{
            padding: 14px 10px 14px;
            min-width: 75px;
        }
    }
}

.backdrop{
    position: absolute;
    opacity: 0.5;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: 1;
}