@import '../../styles/colorcodes.css';

.home{
    margin: 70px 16px 16px;

    .vehicle{
        margin-top: 15px;
        text-align: center;
    }

    .empty{
        color: var(--lightBlack);
        margin: 100px 16px 30px;
        font-size: 20px;
        text-align: center;

        .image{
            width: 260px;
        }
    }

    .button {
        background-color: #438cd6;
        border: 1px solid rgba(225,225,225,0.2);
        border-radius: 4px;
        outline-color: rgba(225,225,225,0.2);
        outline-width: 0px;
        color: #fff;
        font-size: 16px;
        padding: 8px 18px;
        text-align: center;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}