.page-blocker{
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0; 
    top: 0; 
    right: 0; 
    bottom: 0;
    position: absolute;
    z-index: 3;
}