.vehicle-details{
    .header{
        background-color: #f8f8f8;
        color: #B2BBC3;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 1px;
        padding: 15px;
        margin: 0;        
    }
    .body{
    }
    .cta{
        text-align: right;
        margin: 20px;
    }
}