.header{
    .info-bar{
        background-color: #4E92DF;
        color: #ffffff;
        font-weight: 400;
        height: 100px;
        padding: 16px;

        .user-image-placeholder{
            text-align: left;
            .image{
                border-radius: 25px;
            }
        }

        .username{
            margin-top: 10px;
            font-size: 14px;
        }

        .email{
            margin-top: 4px;
            font-size: 12px;
        }

        
    }
}