.header{
    .info-bar{
        background-color: #4E92DF;
        color: #ffffff;
        font-weight: 400;
        height: 112px;
        padding: 16px;

        .user-image-placeholder{
            background-color: #f3f3f3;
            border-radius: 33px;
            height: 65px;
            text-align: center;
            width: 65px;
            .image{
                margin-top: 10px;
                max-width: 40px;
                max-height: 40px;
            }
        }

        .username{
            margin-top: 16px;
            font-size: 14px;
        }

        .email{
            margin-top: 4px;
            font-size: 12px;
        }

        
    }
}