@import '../../styles/colorcodes.css';

.login-page{
	height: 50vh;
	text-align: center;
	margin: 156px 16px 16px;
	color: #ccc;

	.button{
		background-color: #282c34;
		border: 1px solid rgba(225,225,225,0.2);
		border-radius: 4px;
		outline-color: rgba(225,225,225,0.2);
		outline-width: 0px;
		color: #fff;
		font-size: 16px;
		padding: 8px 18px;
	
		&:focus{
			background-color: #282c34;
		}
	}

	.signup-cue{
		color: #2b2b2b;
	}
	  
	.link{
		color: var(--ctaText);
		margin-left: 2px;
		text-decoration: none;
	}
}


