.vehicle,
.vehicle-empty{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 10px;
    justify-content: space-between;

    .link{
        color: #1f1f1f;
        text-decoration: none;
    }

    .details{
        display: flex;

        .image-block{
            border-radius: 2px;
            margin-right: 15px;

            img{
                width: 55px;
            }
        }

        .info{
            align-self: center;
            .name{
            }

            .subtext{
                color: #6d6d6d;
                font-size: 14px;
                margin-top: 5px;
            }
        }
    }

    .menu{
        font-size: 25px;
        color: #676767;
    }
}

.vehicle-empty{
    .image-block,
    .name,
    .subtext{
        background-color: #e7e7e7;
        border-radius: 4px;
    }

    .image-block{
        width: 55px;
        height: 55px;
    }

    .name{
        width: 175px;
        height: 20px;
    }

    .subtext{
        margin-top: 5px;
        width: 133px;
        height: 20px;
    }
}