.signup-page{
  color: #fff;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.form{
  margin-top: 30%;
}

.input-row{
  margin: 5px 0 18px;
}

.input-row input{
  background-color: rgba(225,225,225,0.2);
  border: 1px solid rgba(140, 140, 140, 0.2);
  outline-color: rgba(225,225,225,0.2);
  outline-width: 0px;
  font-size: 16px;
  height: 30px;
  padding: 3px 8px;
  width: 210px;
}

.input-row button{
  background-color: #282c34;
  border: 1px solid rgba(225,225,225,0.2);
  border-radius: 4px;
  outline-color: rgba(225,225,225,0.2);
  outline-width: 0px;
  color: #fff;
  font-size: 16px;
  padding: 8px 18px;
}

.input-row button:focus{
  background-color: #282c34;
}

.input-row input:focus{
  background-color: rgba(225,225,225,0.3);
}

::placeholder{
  /* color: #ccc; */
}