.vehicle {
    color: #333333;
    font-family: Roboto, sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 15px;
    border-bottom: 1px solid #f1f1f1;
    padding: 15px 0px;

    .content {
        flex-grow: 1;
        display: flex;
        align-items: center;

        .text {
            flex-grow: 1;
        }
        .avatar {
            .image {
                max-height: 100px;
                max-width: 100px;
            }
        }
    }

    .icon {
        margin-right: -15px;
    }

    .vehicle-image {
        width: 10%;
        padding: 10px 15px;
        border-radius: 3px 0px 0px 3px;
    }

    .vehicle-details {
        padding: 10px 15px;
        background-color: white;
        width: 70%;
        border-radius: 0px 3px 3px 0px;
    }
}
