.service,
.service-empty{
	font-size: 16px;
	border-bottom: #00000021 1px solid;
	padding-bottom: 20px;
	margin-top: 25px;
	color: #1f2939;

	.wrapper{
		display: grid;
		grid-template-columns: 3fr 2fr;
		grid-gap: 1em;

		.value{
			justify-self: right;
		}

		.options,
		.date{
			font-weight: 600;
			grid-column: span 2;
		}

		.comment{
			grid-column: span 2;
		}

		.options{
			align-self: flex-start;
			font-size: 24px;
			line-height: 0;
		}
	}

	.comment{
		margin-top: 10px;
	}
}

.service:last-child{
	border-bottom: none;
}

.service-empty{
	.date,
	.amount,
	.component,
	.distance,
    .comments{
        background-color: #e7e7e7;
		border-radius: 4px;
		border-bottom: none;
		height: 20px;
		margin-bottom: 10px;
	}
	
	.date{
        width: 145px;
    }

    .amount{
        width: 100px;
    }

    .component{
        width: 135px;
	}
	
	.distance{
        width: 115px;
    }

    .comment{
		width: 215px;
		margin-bottom: 0;
    }
}