@import '../../styles/colorcodes.css';

.services-page {
    margin: 70px 16px 16px;

    .select-cmp {
        width: 100%;
    }

    .empty{
        color: var(--lightBlack);
        margin: 30px 16px;
        font-size: 20px;
        text-align: center;
    
        .image{
            width: 260px;
        }
    }
}