.header{

    .title{
        letter-spacing: 1px;;
    }

    .info-bar{
        background-color: #df5563;
        color: #ffffff;
        height: 112px;
        padding: 16px;

        .user-image-placeholder{
            background-color: #f3f3f3;
            border-radius: 33px;
            height: 65px;
            text-align: center;
            width: 65px;
            .image{
                margin-top: 10px;
                max-width: 40px;
                max-height: 40px;
            }
        }

        .username{
            margin-top: 16px;
            font-size: 14px;
        }

        .email{
            margin-top: 4px;
            font-size: 12px;
        }
    }
}

.list {
    padding-left: 0px;
    margin: 0;

    .list-link{
        color: #282c34;
        text-decoration: none;

        .list-item {
            list-style: none;
            margin: 0px 15px;
            border-bottom: 1px solid #f1f1f1;
            padding: 25px 15px;

            .text{
                color: #0056ad;
            }
        }
    }

    .list-link:last-child{
        .list-item{
            border-bottom: none;
        }
    }
}