.header{
    .info-bar{
        background-color: #df5563;
        color: #ffffff;
        height: 112px;
        padding: 16px;

        .user-image-placeholder{
            background-color: #f3f3f3;
            border-radius: 33px;
            height: 65px;
            text-align: center;
            width: 65px;
            .image{
                margin-top: 10px;
                max-width: 40px;
                max-height: 40px;
            }
        }

        .username{
            margin-top: 16px;
            font-size: 14px;
        }

        .email{
            margin-top: 4px;
            font-size: 12px;
        }
    }
}

.list {
    padding-left: 20px;

    .list-link{
        color: #282c34;
        text-decoration: none;

        .list-item {
            list-style: none;
            padding: 10px 0px;

            .icon{
                padding-right: 10px;
            }

            .text{
                color: #438cd6;
            }
        }
    }
}