@import '../../../styles/colorcodes.css';

.header{
    color: var(--ctaText);
    background-color: #fff;
    position: fixed;
    font-weight: 500;
    padding: 5px 0;
    width: 100%;
    top: 0;
    height: 56px;
    -webkit-box-shadow: 0px 6px 5px -7px rgba(77,75,77,1);
    -moz-box-shadow: 0px 6px 5px -7px rgba(77,75,77,1);
    box-shadow: 0px 6px 5px -7px rgba(77,75,77,1);
    z-index: 2;

    .title{
        letter-spacing: 1px;;
    }
}

.user{
    display: flex;

    .image{
        padding: 10px;

        img{
            width: 32px;
        }
    }

    .info{
        color: #373737;
        font-size: 13px;
        margin-top: 14px;

        .id{
            color: #999;
        }
    }
}

.list {
    padding-left: 0px;
    margin: 10px 0 0 0;

    .list-link{
        text-decoration: none;

        .list-item {
            list-style: none;
            padding: 13px 0px 13px 25px;
            border-left: 9px solid #fff;
            margin: 10px 0;

            .text{
                color: var(--ctaText);
            }

            &.selected{
                border-color: var(--ctaText);
                background-color: #ececec42;
            }
        }
    }

    .list-link:last-child{
        .list-item{
            border-bottom: none;
        }
    }
}