
.service-details{
    background-color: yellow;
    .row{
        margin-bottom: 10px;
    }
    .input{
        margin-left: 10px;
    }
    select{
        height: 10px;
        margin-right: 10px;
    }
}