.service-details{
    table {
      color: #1f2939;
      font-size: 14px;
      width: 100%;
      tr {
        td {
          padding: 0 0 9px;
        }
        td.Col {
            width: 70%;
        }
        td.Col-Details{
          text-align: right;
        }
      }
    }

  .CommentsSection {

    div:first-child{
        margin-bottom: 5px;
      }
    .Comments {
      font-style: italic;
      }
  }

  .NoDataFound {
    padding: 16px;
    .Header {
      text-align: center;
    }

    .Avatar {
      margin: auto;
      width: 150px;
      height: 150px;
      margin-top: 25px;
      margin-bottom: 25px;
      padding: 10px;

      img {
        width:100%;
        height: 100%;
      }
    }

  }

}
