.service-details {
    .no-data {
        padding: 16px;
        .header {
            text-align: center;
        }

        .avatar {
            margin: 25px auto;
            width: 150px;
            height: 150px;
            padding: 10px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
