.body{
        margin: 16px;
    }

.select-cmp {
    width: 100%;
}

.chart-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.no-data {
    text-align: center;
    font-size: 25px;
}